*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: black;
}

.container{
    width: 100%;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}